<div class="footer">
  <!-- <a class="label swc-blue-bg" href="{{site.facebook_url}}">Facebook</a> -->
  <!-- <a class="label swc-blue-bg" href="{{site.google_plus_url}}">Google+</a> -->
  <a class="fa fa-2x fa-twitter" aria-hidden="true"" href="https://twitter.com/datascibc"></a>
  <a class="fa fa-2x fa-github" aria-hidden="true" href="https://github.com/datascibc"></a>
  <a class="fa fa-2x fa-envelope" aria-hidden="true" href="mailto:hello@datascibc.org"></a>
  <!-- <a class="label swc-blue-bg" href="{{page.root}}/LICENSE.html">License</a> -->
  <!-- <a class="bugreport label swc-blue-bg" href="mailto:{{site.contact}}?subject=bug%20in%20{{page.path}}">Bug Report</a> -->
</div>
