<div id="spreadsheets"> 


  <p> Spreadsheets are useful for data entry and data organization, and 
some subsetting and sorting of the data as well as getting an overview of the data. To interact with spreadsheets, we can use
    <a href="https://www.libreoffice.org">LibreOffice</a>,
    <a href="https://products.office.com/en-us/excel">Microsoft Excel</a>,
    <a href="http://www.gnumeric.org">Gnumeric</a>, 
    <a href="https://www.openoffice.org">OpenOffice.org</a>, or other programs. 
  Commands may differ a bit between programs, but general ideas for thinking about spreadsheets is the same.</p>   

<p>
For this lesson, if you don't have a spreadsheet program already, you can use <a href="https://www.libreoffice.org">LibreOffice</a>. It's a free, open source spreadsheet program.</p>




</div> 
